div.slide_price_top
  div.dFlex.flexColumn.slide_content
    a(href=slide.href target='_blank' class='js-spt-image')
      img(class='spt_image' src=slide.image)
    a(href=slide.href class='name js-spt-name') #{slide.description}
    div.card_bottom
      div.price_wp
        div.price_old.js-pt-old-price #{slide.old_price}
        div.price_new.js-pt-new-price #{slide.new_price}
      button(data-src='#basket-popup' type='button' class='btn danger iconButton basket-btn fancybox')
        span.icon
          include ../../../img/svg/header/basket-dark.svg
