div.slide_main
  div.dFlex.flexColumn.slide_content
    a(href=slide.href target='_blank' class='js-sm-image')
      img(class='sm_image' src=slide.image)
    a(href=slide.href class='name js-pd-name') #{slide.description}
    div.card_bottom
      div.price_wp
        div.price_old.js-pd-old-price #{slide.old_price}
        div.price_new.js-pd-new-price #{slide.new_price}
      button(type='button' class='btn danger iconButton withText basket-btn')
        span.icon
          include ../../../img/svg/header/basket-dark.svg
        span.text Купить